<div class="btn-group" [ngStyle]="{width: width}">
  <button type="button" class="btn btn-info">Select ...</button>
  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Company</a>
    <a class="dropdown-item" href="#">First name</a>
    <a class="dropdown-item" href="#">Last name</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
