<span>
  <span class="parabar" [ngStyle]="{'width': getWidth() + 'px'}" draggable="false">
    <select class="custom-select"
            [ngStyle]="{'width': getWidth() + 'px'}"
            draggable="false"
            (change)="onChange($event)"
            [selectedIndex]="selectedColumn">
      <option *ngFor="let v of values" [value]="v.name">
        {{v.name}}
      </option>
    </select>
  </span>
  <span class="ui-column-resizer" (mousedown)="onMouseDown($event)" [hidden]=!columnProperty.visible></span>
</span>
