<div class="container-fluid" id="noPadding">
  <h1>Select something</h1>

<!--  <div>-->
<!--    <app-drop-button *ngFor="let width of widths" [width]="width"></app-drop-button>-->
<!--  </div>-->

<!--  <div>-->
<!--    <app-select-menu *ngFor="let width of columnWidths" (resizingStart)="onResizingStart($event)"></app-select-menu>-->
<!--  </div>-->
  <div *ngIf="columnProps[0] !==undefined">
    Select Box: Steps for getting started with the Spread Sheets in Angular applications:
    <div class="parabar"  (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" (mouseenter)="onMouseEnter($event)">
      <app-select-menu  [columnProperty]=columnProps[0] (resizingStart)="onResizingStart($event)"></app-select-menu>
      <app-select-menu  [columnProperty]=columnProps[1] (resizingStart)="onResizingStart($event)"></app-select-menu>
      <app-select-menu  [columnProperty]=columnProps[2] (resizingStart)="onResizingStart($event)"></app-select-menu>
      <app-select-menu  [columnProperty]=columnProps[3] (resizingStart)="onResizingStart($event)"></app-select-menu>
      <app-select-menu  [columnProperty]=columnProps[4] (resizingStart)="onResizingStart($event)"></app-select-menu>
    </div>
  </div>

  <div *ngIf="columnProps[0] !==undefined">
    Select Box: Steps for getting started with the Spread Sheets in Angular applications:
    <div class="parabar" (mousemove)="onMouseMove($event)"  (mouseup)="onMouseUp($event)" (mouseenter)="onMouseEnter($event)">
      <div class="paraitem" *ngFor="let props of columnProps; let i = index">
        <app-select-menu  [columnProperty]=props (resizingStart)="onResizingStart($event)"></app-select-menu>
      </div>
    </div>
  </div>



<!--  <div form-inline">-->
<!--      <app-select-label *ngFor="let width of widths" [width]="width"></app-select-label>-->
<!--  </div>-->


  <div class="container">
    <gc-spread-sheets hostClass="spreadContainer"
                      [hostStyle]="hostStyle"
                      (columnWidthChanged)="onColumnWidthChanged($event)"
                      (workbookInitialized)="onWorkbookInit($event)"
                      (leftColumnChanged)="onLeftColumnChanged($event)"
                      (activeSheetChanged)="onActiveSheetChanged($event)"
                      (columnChanged)="onColumnChanged($event, $event)">
      <gc-worksheet [name]="sheetName"
                    [dataSource]="data"
                    [autoGenerateColumns]="autoGenerateColumns"
                    [rowHeaderVisible]="rowHeaderVisible">
        <gc-column width="150" dataField="company" headerText="Company"></gc-column>
        <gc-column width="150" dataField="firstName" headerText="First name"></gc-column>
        <gc-column width="150" dataField="lastName" headerText="Last name"></gc-column>
      </gc-worksheet>
    </gc-spread-sheets>
  </div>
</div>

