#noPadding {
  padding: 0;
}

.parabar {
    padding: 10px 25px 10px 40px;
    white-space: nowrap;
    overflow: hidden;
}

.paraitem {
    white-space: nowrap;
    display: inline-block;
}

#buttonContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

button {
    margin: 5px 20px;
}
